In [5]:
import nltk
import pandas as pd

In [8]:
data = pd.read_csv("training.csv", encoding='utf-8',header=None)

In [9]:
data.head()

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [10]:
text=data[5][0]
print(text)

@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D

In [5]:
from nltk.tokenize import sent_tokenize

In [6]:
sentences=sent_tokenize(text)
print(sentences)

["@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.", 'You shoulda got David Carr of Third Day to do it.', ';D']

In [3]:
from nltk.tokenize import word_tokenize

In [9]:
words=[]
for sentence in sentences:
    words.append(word_tokenize(sentence))    
print(words)

[['@', 'switchfoot', 'http', ':', '//twitpic.com/2y1zl', '-', 'Awww', ',', 'that', "'s", 'a', 'bummer', '.'], ['You', 'shoulda', 'got', 'David', 'Carr', 'of', 'Third', 'Day', 'to', 'do', 'it', '.'], [';', 'D']]

In [10]:
from nltk.tokenize import RegexpTokenizer

In [15]:
token=RegexpTokenizer(r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+] |[!*\(\), ]|(?:%[0-9a-fA-F][0-9a-fA-F]))+|\w+')
token.tokenize(text)

['switchfoot',
 'http://twitpic',
 'com',
 '2y1zl',
 'Awww',
 'that',
 's',
 'a',
 'bummer',
 'You',
 'shoulda',
 'got',
 'David',
 'Carr',
 'of',
 'Third',
 'Day',
 'to',
 'do',
 'it',
 'D']

In [13]:
from nltk.tokenize import TweetTokenizer

In [14]:
tknzr = TweetTokenizer()

In [23]:
tknzr.tokenize(text)

['@switchfoot',
 'http://twitpic.com/2y1zl',
 '-',
 'Awww',
 ',',
 "that's",
 'a',
 'bummer',
 '.',
 'You',
 'shoulda',
 'got',
 'David',
 'Carr',
 'of',
 'Third',
 'Day',
 'to',
 'do',
 'it',
 '.',
 ';D']

In [24]:
set(text)

{' ',
 "'",
 ',',
 '-',
 '.',
 '/',
 '1',
 '2',
 ':',
 ';',
 '@',
 'A',
 'C',
 'D',
 'T',
 'Y',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'l',
 'm',
 'o',
 'p',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'y',
 'z'}

In [15]:
# len(tweet)
text2 = tknzr.tokenize(text)
nltk.pos_tag(text2)

[('@switchfoot', 'NN'),
 ('http://twitpic.com/2y1zl', 'SYM'),
 ('-', ':'),
 ('Awww', 'NNP'),
 (',', ','),
 ("that's", 'VBZ'),
 ('a', 'DT'),
 ('bummer', 'NN'),
 ('.', '.'),
 ('You', 'PRP'),
 ('shoulda', 'VBP'),
 ('got', 'VBD'),
 ('David', 'NNP'),
 ('Carr', 'NNP'),
 ('of', 'IN'),
 ('Third', 'NNP'),
 ('Day', 'NNP'),
 ('to', 'TO'),
 ('do', 'VB'),
 ('it', 'PRP'),
 ('.', '.'),
 (';D', 'VB')]